<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="login page" />
        <meta name="keywords" content="todo list" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Completed Todo</title>
    </head>
    <body>
        <h1>Completed Todo</h1>
        <p>
            Welcome, {{ user }}.
            <a href="{% url 'todo_app:index' %}">Todos</a>
        </p>
        <hr />
        <ul>
            {% for todo in todos %}
            <li>
                <form action="{% url 'todo_app:change_status' %}" method="POST">
                    {% csrf_token %}
                    <input type="checkbox" name="checked" {% if todo.status %}checked{% endif %} />
                    <input type="hidden" name="pk" value="{{ todo.pk }}" />
                    <button>Update</button>
                    <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
                    {{ todo.text }}
                </form>
            </li>
            {% endfor %}
        </ul>
        <hr />
    </body>
</html>

